.brands-footer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin: 0 -15px;
   &__item {
      text-align: center;
      margin-bottom: 25px;
      flex: 0 1 20%;
      padding: 0 15px;
   }
}
