.select {
   width: 185px;
   z-index: 3;
   position: relative;
   @include breakpoint($md-3, 0) {
      width: 140px;
   }
   select {
      display: none;
   }
   &-new {
      background-color: $white;
      cursor: pointer;
      &._show &__body {
         display: block;
      }
      &__current,
      &__item {
         user-select: none;
         padding: 0 9px 0 15px;
         display: flex;
         width: 100%;
         justify-content: space-between;
         align-items: center;
         min-height: 30px;
         @include breakpoint($md-3, 0) {
            font-size: 13px;
            padding: 0 7px;
         }
      }
      &__body {
         background-color: inherit;
         position: absolute;
         left: 0;
         display: none;
         top: 100%;
         width: 100%;
         overflow: hidden;
         overflow-y: auto;
         max-height: 200px;
      }
      &__item {
         @include breakpoint($md-1, 1) {
            &:hover {
               background-color: #f3f3f3;
            }
         }
      }
   }
}
textarea {
   overflow: hidden;
   resize: none;
   width: 100%;
   height: 100%;
}
