.noUi {
   &-horizontal {
      height: 4px;
      padding-left: 25px;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 0;
         height: 100%;
         width: 100%;
         display: block;
         background-color: #eaeaea;
      }
   }
   &-base {
      width: 100%;
      height: 100%;
      position: relative;
   }
   &-connects {
      cursor: pointer;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-color: #eaeaea;
   }

   &-connect,
   &-origin {
      will-change: transform;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      transform-origin: 0 0;
      transform-style: flat;
   }
   &-connect {
      background-color: #ffcda5;
   }
   &-origin {
      height: 0;
   }
   &-handle {
      backface-visibility: hidden;
      cursor: pointer;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 1px solid #f6813a;
      background-color: $white;
      position: absolute;
      right: 0;
      top: -10px;

      &::before {
         content: "";
         border-radius: 50%;
         position: absolute;
         left: 4px;
         display: block;
         top: 4px;
         width: 15px;
         height: 15px;
         background-color: #f6813a;
      }
   }
   &-tooltip {
      color: #999999;
      font-weight: 300;
      display: block;
      position: absolute;
      left: 50%;
      top: 100%;
      padding-top: 10px;
      transform: translateX(-50%);
      text-align: center;
      white-space: nowrap;
   }
   &-touch-area {
      height: 100%;
      width: 100%;
   }
}
