.action {
   color: #999999;
   font-weight: 300;
   display: inline-flex;
   align-items: center;
   &::before {
      margin-right: 5px;
      font-size: 28px;
      @include breakpoint(1110, 0) {
         display: none;
      }
      @include breakpoint($md-2, 0) {
         display: block;
      }
   }
   &:hover {
      color: $mainColor;
   }
   span {
      border-bottom: 2px dotted;
   }
   @include breakpoint($md-1, 0) {
      font-size: 16px;
   }
   @include breakpoint($md-2, 0) {
      color: $white;
      font-size: 18px;
   }
}
