.header {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 99;
   &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0%);
      width: 220px;
      height: 115px;
      border-radius: 50%;
      background-color: $mainColor;
      @include breakpoint(1110, 0) {
         width: 190px;
      }
      @include breakpoint(930, 0) {
         display: none;
      }
   }
   &__body {
   }
}
