.text-page {
   &__container {
   }

   &__body {
      padding: 40px 40px 60px 40px;
      background-color: $mainColor;
      @include breakpoint($md-1, 0) {
         padding: 25px 25px 40px 25px;
      }
      @include breakpoint($md-3, 0) {
         padding: 15px 15px 25px 15px;
      }
   }

   &__title {
      margin-bottom: 30px;
      color: #1bc8df;
      font-family: "UniSans";
      font-size: 30px;
   }

   &__row {
      @include breakpoint($md-2, 1) {
         display: flex;
         margin: 0 -30px;
      }
   }

   &__col {
      position: relative;
      @include breakpoint($md-2, 1) {
         flex: 0 1 50%;
         padding: 0 30px;
      }
      @include breakpoint($md-2, 0) {
         margin-bottom: 35px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }

   &__text {
      margin-bottom: 25px;
      color: $white;
      line-height: 20px;
      &:last-child {
         margin-bottom: 0;
      }
      @include breakpoint($md-2, 0) {
         margin-bottom: 15px;
      }
   }

   &__label {
      color: $white;
      font-weight: 900;
      margin-bottom: 5px;
   }

   &__list {
   }

   &__item {
      p {
         &::before {
            content: "";
            display: inline-block;
            width: 11px;
            height: 11px;
            margin: 0 17px 0 8px;
            background: url("../images/text-page/arrow.png") 0 0 no-repeat;
            @include breakpoint($md-2, 0) {
               display: none;
            }
         }
         @include breakpoint(1200, 0) {
            br {
               display: none;
            }
         }
      }
   }

   &__image {
      position: absolute;
      right: -100px;
      bottom: -50%;
      @include breakpoint(1200, 0) {
         display: none;
      }
   }
}
