.nav-side {
   background-color: $mainColor;
   position: relative;
   &__header {
      padding: 21px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include breakpoint($md-3, 0) {
         padding: 15px;
      }
   }

   &__title {
      font-size: 30px;
      line-height: 1.2;
      font-family: "UniSans";
      color: $white;
      margin-right: 30px;
   }
   &__hamburger {
      background-color: #068292;
      width: 35px;
      flex: 0 0 35px;
      height: 35px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &._active .nav-side__burger::before {
         top: 50%;
         transform: translateY(-50%) rotate(-45deg);
      }
      &._active .nav-side__burger span {
         transform: scale(0);
      }
      &._active .nav-side__burger::after {
         bottom: 50%;
         transform: translateY(50%) rotate(45deg);
      }
   }
   &__burger {
      height: 16px;
      width: 24px;
      position: relative;
      &::before,
      span,
      &::after {
         background-color: $white;
         position: absolute;
         left: 0;
         height: 2px;
         width: 100%;
      }
      &::before {
         content: "";
         top: 0;
      }
      span {
         top: 50%;
         transform: translateY(-50%);
      }
      &::after {
         content: "";
         bottom: 0;
      }
   }
   &__menu {
      display: none;
      &._show {
         display: block;
      }
   }

   &__item {
      border-bottom: 1px solid #11b8ce;
      &:last-child {
         border-bottom: none;
      }
      &._show {
         .modal-nav {
            @include breakpoint($md-1, 1) {
               pointer-events: all;
               visibility: visible;
            }

            &__cart {
               @include breakpoint($md-1, 1) {
                  right: 0;
               }
               @include breakpoint($md-1, 0) {
                  display: block;
               }
            }
         }

         .aside-arrow::after {
            transform: translateY(-50%) rotate(0deg);
            @include breakpoint($md-1, 0) {
               transform: translateY(-50%) rotate(90deg);
            }
         }
      }
   }

   &__link {
      min-height: 40px;
      display: flex;
      align-items: center;
      padding: 0 21px;
      font-weight: 300;
      transition: background-color 0.1s linear;
      color: $white;
      position: relative;
      @include breakpoint($md-1, 1) {
         &:hover {
            background-color: #068292;
         }
      }
      &.aside-arrow {
         &::after {
            content: "";
            position: absolute;
            transition: transform 0.2s linear;
            right: 9px;
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
            width: 14px;
            height: 14px;
            background: url("../images/aside/arrow.png") 0 0 no-repeat;
            @include breakpoint($md-1, 0) {
               transform: translateY(-50%) rotate(0deg);
            }
         }
      }
   }
}
