.news-side {
   &__title {
   }

   &__body {
   }

   &__item {
      @include adaptive-value(margin-bottom, 45, 25, 1);
      &:last-child {
         margin-bottom: 0;
      }
   }

   &__label {
      @include breakpoint($md-1, 1) {
         transition: all 0.2s linear;
         &:hover {
            color: #fd8322;
         }
      }
   }

   &__drown {
      margin-top: 20px;
      display: flex;
   }

   &__data {
      color: #d8d8d8;
      font-size: 18px;
      span {
         font-size: 24px;
      }
   }

   &__text {
      margin-left: 20px;
   }
}
