.search {
   display: flex;
   position: relative;

   &__select {
      background-color: #f2f2f2;
      display: flex;
      @include breakpoint($md-3, 0) {
         display: none;
      }
      &._category {
         .search__title span {
            display: none;
            &:last-child {
               white-space: nowrap;
               display: block;
            }
         }
      }
   }

   &__title {
      padding: 0 14px;
      cursor: pointer;
      font-weight: 300;
      color: #666666;
      display: flex;
      align-items: center;
      position: relative;
      span {
         padding-bottom: 2px;
         border-bottom: 2px dotted;
         margin: 0 13px;
         &:last-child {
            display: none;
         }
      }
      &::before {
         font-size: 18px;
      }
      &::after {
         content: "";
         background: url("../images/search/arrow.png") no-repeat;
         width: 10px;
         height: 10px;
         transition: transform 0.2s linear;
      }
      &._active::after {
         transform: rotate(180deg);
      }
   }

   &__selected {
      position: absolute;
      left: 0;
      z-index: 1;
      top: 100%;
      width: 100%;
   }

   &__entry {
   }

   &__input {
      flex: 1 1 auto;
      width: 100%;
      padding: 0 10px;
      border-top: 2px solid #f2f2f2;
      border-bottom: 3px solid #f2f2f2;
      @include breakpoint($md-3, 0) {
         border-left: 2px solid #f2f2f2;
      }
   }

   &__btn {
      @include breakpoint($md-2, 0) {
         padding: 0 15px;
      }
   }
}
