.brands-page {
   border-top: 3px dotted #dadada;
   border-bottom: 3px dotted #dadada;
   &__container {
      position: relative;
   }
   &__body {
      margin: 0 70px;
      padding: 43px 0;
      @include breakpoint($md-3, 0) {
         margin: 0 35px;
      }
   }

   &__row {
      display: flex;
      align-items: center;
   }

   &__item {
      text-align: center;
      img {
         @include breakpoint($md-1, 1) {
            cursor: pointer;
            transition: all 0.3s linear;
            filter: grayscale(100%);
            &:hover {
               filter: grayscale(0%);
            }
         }
      }
   }

   &__arrows {
   }

   &__arrow {
      position: absolute;
      top: 50%;
      &_prev {
         transform: translateY(-50%) rotate(90deg);
         left: 15px;
      }

      &_next {
         transform: translateY(-50%) rotate(-90deg);
         right: 15px;
      }
   }
}
