.reviews-side {
   &__title {
   }

   &__body {
   }

   &__item {
      margin-bottom: 20px;
      display: inline-block;
      &:last-child {
         margin-bottom: 0;
      }
      @include breakpoint($md-1, 1) {
         &:hover {
            .reviews-side__name,
            .reviews-side__date {
               color: $mainColor;
               transition: all 0.2s linear;
            }
            .reviews-side__text {
               transition: all 0.2s linear;
               color: $white;
               background-color: $mainColor;
               &::before {
                  color: #64deee;
               }
            }
         }
      }
   }

   &__header {
      display: flex;
      justify-content: space-between;
   }

   &__name {
   }

   &__date {
      color: #999999;
   }

   &__text {
      margin-top: 12px;
      padding: 15px 15px 15px 37px;
      position: relative;
      &::before {
         content: "”";
         position: absolute;
         top: 15px;
         left: 8px;
         font-size: 48px;
         color: #dadada;
         font-weight: 900;
         line-height: 1;
      }
   }
}
