.swiper-page {
   &__body {
      position: relative;
   }

   &__row {
   }

   &__slide {
   }

   &__pagination {
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      counter-reset: item;
      justify-content: center;
      & .swiper-pagination-bullet {
         flex: 0 0 55px;
         width: 55px;
         min-height: 55px;
         display: block;
         margin: 0 22px;
         border-radius: 50%;
         cursor: pointer;
         position: relative;
         overflow: hidden;
         border: 2px solid $white;
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         @include breakpoint($md-3, 0) {
            flex: 0 0 45px;
            width: 45px;
            min-height: 45px;
         }
         &::after {
            opacity: 0;
            transition: opacity 0.2s linear;
            position: absolute;
            left: 0;
            top: 0;
            font-weight: 900;
            font: 16px;
            width: 100%;
            height: 100%;
            background-color: #f68038;
            display: flex;
            align-items: center;
            color: $white;
            justify-content: center;
            counter-increment: item;
            content: counter(item);
         }
         &-active {
            &::after {
               opacity: 1;
            }
         }
      }
   }
}
