$maxWidth: 1400;
$maxWidthContainer: 1140;
$z-index-header: 1000;
$white: #fff;
$mainColor: #07aac0;

$heightHeader-top-desktop: 95px;
$heightHeader-top-miniMobile: 65px;
$z-index-aside: 990;
$z-index-aside-mask: 885;
$md-1: 991;
$md-2: 767;
$md-3: 525;
