.btn {
   height: 40px;
   display: inline-flex;
   align-items: center;
   padding: 0 25px;
   color: $white;
   text-transform: uppercase;
   font-weight: 900;
   background-color: #f68038;
   &-grey {
      background-color: #e6e6e6;
      color: #666666;
   }
   &-br20 {
      padding: 0 15px;
      border-radius: 20px;
      height: 30px;
      @include breakpoint($md-1, 1) {
         transition: all 0.2s linear;
         &:hover {
            background-color: $mainColor;
            color: $white;
         }
      }
   }
}
