.bottom-header {
   background-color: $white;
   @include breakpoint($md-2, 0) {
      display: none;
   }
   &__body {
      padding: 10px 40px 5px 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include breakpoint($md-1, 0) {
         padding-left: 15px;
      }
      @include breakpoint(1110, 0) {
      }
   }

   &__col {
      flex: 0 1 40%;
   }

   &__list {
      display: flex;
      justify-content: space-between;
      @include breakpoint(930, 0) {
         &_last {
            justify-content: flex-end;
         }
      }
      @include breakpoint($md-2, 0) {
         flex-wrap: wrap;
         margin-bottom: 15px;
         &_last {
            justify-content: flex-start;
         }
      }
   }

   &__item {
      display: flex;
      align-items: center;
      margin-right: 20px;
      white-space: nowrap;
      &:last-child {
         margin-right: 0;
      }
      @include breakpoint($md-2, 0) {
         margin-bottom: 15px;
         &:last-child {
            flex: 1 1 100%;
         }
      }

      &_timetable {
         display: flex;
         align-items: center;
         &::before {
            font-size: 25px;
            margin-right: 10px;
            color: #999999;
            @include breakpoint($md-1, 0) {
               & {
                  display: none;
               }
            }
         }
         @include breakpoint(930, 0) {
            display: none;
         }
      }
   }
   &__callback {
      @include breakpoint(767, 0) {
         margin-top: 30px;
      }
   }
   &__time {
      color: #999999;
      font-weight: 300;
      margin-bottom: 5px;
      &:last-child {
         margin-bottom: 0;
      }
      span {
         font-weight: 700;
      }
   }

   &__email {
      span {
         border-bottom: 2px solid;
      }
   }
   &__basket {
      color: $white;
      position: relative;
      @include breakpoint(1110, 0) {
      }
      @include breakpoint($md-2, 0) {
         z-index: 5;
      }
      &::before {
         color: $white;
         height: 40px;
         width: 40px;
         font-size: 24px;
         display: inline-flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;
         background-color: $mainColor;
         @include breakpoint($md-3, 0) {
            padding: 0;
            background: none;
         }
      }
      span {
         position: absolute;
         right: 5px;
         top: 0px;
         transform: translateX(80%);
         padding: 4px 8px;
         background-color: #f68038;
         border-radius: 20px;
         @include breakpoint($md-3, 0) {
            padding: 4px 5px;
         }
      }
      @include breakpoint($md-1, 0) {
         margin-left: auto;
      }
      @include breakpoint($md-2, 0) {
         margin-right: 20px;
      }
      @include breakpoint($md-3, 0) {
         margin-right: 10px;
      }
   }
}
