.social-blocks-footer {
   &__body {
      @include breakpoint($md-3, 1) {
         display: flex;
         justify-content: center;
      }
   }
   &__item {
      @include breakpoint($md-3, 0) {
         margin-bottom: 30px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }

   &__image {
      max-width: 100%;
      display: block;
      margin: 0 auto;
   }
}
